@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background: var(--color-1);
    background-image: url(/storage/img/elipses.svg);
    background-size: cover;
    padding: var(--padding-page);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
}
.header__div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 190px;
}
.header__title {
    display: flex;
    align-items: center;
    gap: 6px;
}
.header__title img{
    height: var(--image-height);
    width: var(--image-width);
}
.header__title span{
    color: var(--color-4);
}
.header__sidebar {
}
.header__sidebar img{
    height: var(--image-height);
    width: var(--image-width);
}
.section__total {
    background: red;
    display: flex;
    justify-content: center;
    
}
.total__content {
    background: var(--color-2);
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
}
.content__total {
    font-size: 30px;
    color: var(--color-4);
}
.content__price {
    font-size: 20px;
    color: var(--color-4);
}

.section__information {
    margin-top: 100px;

}
.information__button {
    display: flex;
    justify-content: space-evenly;
}
.button__div {
    width: 70px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__div:nth-child(1){
    background: var(--color-1);
}
.button__div:nth-child(2){
    border: var(--color-2) solid 2px;
}
.button__div:nth-child(3){
    border: var(--color-6) solid 2px;
}
.button__div a{
    text-decoration: none;
    font-size: 0.9em;
}
.button__div:nth-child(1) a{
    color: var(--color-4);
}
.button__div:nth-child(2) a{
    color: var(--color-2);
}
.button__div:nth-child(3) a{
    color: var(--color-6);
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.footer__ul{
    background: var(--color-1);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footer__ul li{
    list-style: none;
    /* background: pink; */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li:nth-child(2) img{
    margin-top: 5px;
    height: 35px;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    width: var(--image-width);
    height: var(--image-height);
}