@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
    background-image: url(/storage/img/background.svg);
}
.header {
    
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__title {
    display: flex;
    align-items: center;
    gap: 6px;
}
.header__title img{
    height: 25px;
    width: 25px;
}
.header__title span{
    color: var(--color-4);
}
.header__sidebar {
}
.header__sidebar img{
    height: 25px;
    width: 25px;
}

