:root{
    --color-1: #820ad1;
    --color-2: #a376ff;
    --color-3: #B5C5C3;
    --color-4: #fff;
    --color-5: #f1e9ff;
    --color-6: #8d9196;
    --padding-page: 0px 15px;
    --image-width: 25px;
    --image-height: 25px;
    --font-size: 12px;
}

@font-face {
    font-family: "Baskerville-Bold";
    src: url(../storage/font/baskerville/BaskervilleBoldBT.ttf);
}
@font-face {
    font-family: "Baskerville-Heavy";
    src: url(../storage/font/baskerville/baskerville-heavy.ttf);
}
@font-face {
    font-family: "Baskerville-Light";
    src: url(../storage/font/baskerville/BaskervilleLight.ttf);
}
@font-face {
    font-family: "Baskerville-Medium";
    src: url(../storage/font/baskerville/Baskerville-Medium.otf);
}
@font-face {
    font-family: "Baskerville-SemiBold";
    src: url(../storage/font/baskerville/Baskerville-SemiBold.ttf);
}
@font-face {
    font-family: "Baskerville-Regular";
    src: url(../storage/font/baskerville/Baskerville-Regular.otf);
}