<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <header class="header">
        <div class="header__title">
            <img src="../storage/img/nuIcon.svg">
            <span>NUBANK</span>
        </div>
        <div class="header__sidebar">
            <a href=""><img src="../storage/img/sideBarBlack.svg"></a>
        </div>
    </header>
    <section class="investing">
        <article class="investing__title">
            <h1>Investing Tips</h1>
        </article>  
        <article class="investing__information">
            <div class="information__image">
                <img src="../storage/img/pink.svg">
            </div>
            <div class="information__message">
                <h3>What is an ETF?</h3>
                <small>By James B, PHD</small>
            </div>
            <div class="information__button"> 
                <a href="#">
                    LEARN MORE
                </a>
            </div>
            <div class="information__close"> 
                <a href="#">
                    <img src="../storage/img/close.svg">
                </a>
            </div>
        </article>
    </section>
    <main class="main">
        <section class="section__title">
            <h3>My Cards (4)</h3>
        </section>
        <section class="section__card">
            <div class="section__cardGrid">
                <article class="card__information">
                    <div class="information__card">
                        <img src="../storage/img/sim.svg">
                        <small>
                            **** 6175
                        </small>
                    </div>
                    <div class="information__money">
                        <span><small>$</small>47,417</span>
                    </div>
                    <div class="information__imageCard">
                        <img src="../storage/img/mastercard.svg">
                    </div>
                </article>
                <article class="card__information">
                    <div class="information__card">
                        <img src="../storage/img/sim.svg">
                        <small>
                            **** 5789
                        </small>
                    </div>
                    <div class="information__money">
                        <span><small>$</small>584,466</span>
                    </div>
                    <div class="information__imageCard">
                        <img src="../storage/img/visa.svg">
                    </div>
                </article>
                <article class="card__information">
                    <div class="information__card">
                        <img src="../storage/img/sim.svg">
                        <small>
                            **** 6175
                        </small>
                    </div>
                    <div class="information__money">
                        <span><small>$</small>47,417</span>
                    </div>
                    <div class="information__imageCard">
                        <img src="../storage/img/mastercard.svg">
                    </div>
                </article>
                <article class="card__information">
                    <div class="information__card">
                        <img src="../storage/img/sim.svg">
                        <small>
                            **** 5789
                        </small>
                    </div>
                    <div class="information__money">
                        <span><small>$</small>584,466</span>
                    </div>
                    <div class="information__imageCard">
                        <img src="../storage/img/visa.svg">
                    </div>
                </article>
                <article class="card__information">
                    <div class="information__card">
                        <img src="../storage/img/sim.svg">
                        <small>
                            **** 6175
                        </small>
                    </div>
                    <div class="information__money">
                        <span><small>$</small>47,417</span>
                    </div>
                    <div class="information__imageCard">
                        <img src="../storage/img/mastercard.svg">
                    </div>
                </article>
                <article class="card__information">
                    <div class="information__card">
                        <img src="../storage/img/sim.svg">
                        <small>
                            **** 5789
                        </small>
                    </div>
                    <div class="information__money">
                        <span><small>$</small>584,466</span>
                    </div>
                    <div class="information__imageCard">
                        <img src="../storage/img/visa.svg">
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/home.svg">
                </a>
            </li>
            <li>
                <a href="views/balance.html">
                    <img src="../storage/img/book.svg">
                </a>
            </li>
            <li>
                <a href="views/cards.html">
                    <img src="../storage/img/menuGreen.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/message.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/profile.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>