<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <header class="header">
        <div class="header__title">
            <img src="../storage/img/logoBlack.svg">
            <span>INVETO</span>
        </div>
        <div class="header__sidebar">
            <a href=""><img src="../storage/img/sideBarBlack.svg"></a>
        </div>
    </header>
    <section class="investing">
        <article class="investing__title">
            <h1>Investing tips</h1>
        </article>  
        <article class="investing__information">
            <div class="information__image">
                <img src="../storage/img/pink.svg">
            </div>
            <div class="information__message">
                <h3>What is an ETF?</h3>
                <small>By James B, PHD</small>
            </div>
            <div class="information__button"> 
                <a href="#">
                    LEARN MORE
                </a>
            </div>
            <div class="information__close"> 
                <a href="#">
                    <img src="../storage/img/close.svg">
                </a>
            </div>
        </article>
    </section>
</body>
</html>